workflows/02-leads-contact/v2/v2-contact.json
{
  "name": "v2/Contact",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Retornar los campos en un formato limpio\nreturn [{\n  json: {\n    authorization: $('Webhook Contact').first().json.headers.authorization,\n    names: $('Webhook Contact').first().json.body.names,\n    middlename: $('Webhook Contact').first().json.body.middlename,\n    lastname: $('Webhook Contact').first().json.body.lastname,\n    email: $('Webhook Contact').first().json.body.email,\n    phone: $('Webhook Contact').first().json.body.phone,\n    service: $('Webhook Contact').first().json.body.service,\n    message: $('Webhook Contact').first().json.body.message\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        144
      ],
      "id": "f8eee51c-fa1a-4c90-8766-e0a490551472",
      "name": "CodeFields"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"mensaje\": \"El mensaje se ha enviado de forma satisfactoria.\"\n}\n",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        976,
        144
      ],
      "id": "159e2740-d32b-4c63-8b30-41e3be8a9d9f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.hosting3m.com/webhook/81949755-352f-4f0b-bdf3-aac2d1f4b369/crud/v2/customers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"CodeFields\"].json.authorization}}"
            },
            {
              "name": "x-jwt-claim-role",
              "value": "={{$node[\"CodeFields\"].json.role}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operation\": \"insert\",\n  \"fields\": {\n    \"id_company\": 1,\n    \"id_type\": 1,\n    \"names\": \"{{ $json.names }}\",\n    \"middlename\": \"{{ $json.middlename }}\",\n    \"lastname\": \"{{ $json.lastname }}\",\n    \"email\": \"{{ $json.email }}\",\n    \"phone\": \"{{ $json.phone }}\",\n    \"service\": \"{{ $json.service }}\",\n    \"message\": \"{{ $json.message }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -144,
        144
      ],
      "id": "9281a290-012e-4180-a156-b6df6cdecf18",
      "name": "Insert",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.hosting3m.com/webhook/81949755-352f-4f0b-bdf3-aac2d1f4b369/crud/v2/customers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "=Bearer {{$node[\"CodeFields\"].json.authorization}}"
            },
            {
              "name": "x-jwt-claim-role",
              "value": "={{$node[\"CodeFields\"].json.role}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operation\": \"update\",\n  \"fields\": {\n    \"id\": {{$json.id}},\n    \"id_company\": 1,\n    \"id_type\": 1,\n    \"names\": \"{{ $node[\"Insert\"].json.names }}\",\n    \"middlename\": \"{{ $node[\"Insert\"].json.middlename }}\",\n    \"lastname\": \"{{ $node[\"Insert\"].json.lastname }}\",\n    \"email\": \"{{ $node[\"Insert\"].json.email }}\",\n    \"phone\": \"{{ $node[\"Insert\"].json.phone }}\",\n    \"service\": \"{{ $node[\"Insert\"].json.service }}\",\n    \"message\": \"{{ $node[\"Insert\"].json.message }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        304,
        144
      ],
      "id": "b89d09e2-00ef-49ce-9bb8-6f6fdf403489",
      "name": "Update",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.hosting3m.com/webhook/81949755-352f-4f0b-bdf3-aac2d1f4b369/crud/v2/customers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "=Bearer {{$node[\"CodeFields\"].json.authorization}}"
            },
            {
              "name": "x-jwt-claim-role",
              "value": "={{$node[\"CodeFields\"].json.role}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operation\": \"getone\",\n  \"fields\": {\n    \"email\": \"{{ $json.email }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        80,
        208
      ],
      "id": "a3c011fa-a0f3-47ea-937d-bab616d5d108",
      "name": "getCustomer",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fromEmail": "n8n@hosting3m.com",
        "toEmail": "=contacto@hosting3m.com",
        "subject": "Contacto Sitio Web.",
        "emailFormat": "=html",
        "html": "=Hemos recibido este correo de: {{$node[\"CodeFields\"].json.names}} {{ $node[\"CodeFields\"].json.middlename }} {{ $node[\"CodeFields\"].json.lastname }}:  <br>\nEl mensaje es el siguiehte: <br>\n\"Message\": \"{{$node[\"CodeFields\"].json.message}}\".<br>\n\"Service\": \"{{$node[\"CodeFields\"].json.service}}\".<br>\n\"Phone\": \"{{$node[\"CodeFields\"].json.phone}}\".\n\n",
        "options": {
          "appendAttribution": false,
          "ccEmail": "fjpimienta@hosting3m.com"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        752,
        144
      ],
      "id": "855a6f6c-e356-45ad-b0a1-af10ff56be44",
      "name": "SendMailContact",
      "webhookId": "f6b6824a-617b-4c0d-bae7-ea8ac4a01052",
      "credentials": {
        "smtp": {
          "id": "9FrPlhJb7FCBe7ZO",
          "name": "n8n@hosting3m.com"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "contacto@hosting3m.com",
        "toEmail": "={{ $json.email }}",
        "subject": "Contacto Sitio Web.",
        "html": "=Hola. {{ $json.names }}: <br>\nGracias por contactarnos. Analizaremos tus comentarios y nos pondremos en contacto en breve.",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        528,
        16
      ],
      "id": "3e3fcee4-5150-490f-be00-1a6cf980e8f0",
      "name": "SendMail",
      "webhookId": "cb8f98cd-5b8e-4f33-bab4-a136b792c541",
      "credentials": {
        "smtp": {
          "id": "GR5kg3dzrkw00Slf",
          "name": "contacto@hosting3m.com"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "contacto@hosting3m.com",
        "toEmail": "={{ $json.data[0].email }}",
        "subject": "Contacto Sitio Web.",
        "emailFormat": "=html",
        "html": "=Hola. {{ $json.data[0].names }}: <br>\nGracias por contactarnos. Analizaremos tus comentarios y nos pondremos en contacto en breve.\n\"message\": \"{{$node[\"CodeFields\"].json.message}}\"\n",
        "options": {
          "appendAttribution": true,
          "ccEmail": "fjpimienta@hosting3m.com"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        528,
        256
      ],
      "id": "7490e61a-8625-479b-a9a3-7d993dc95de6",
      "name": "SendMailError",
      "webhookId": "28ae3569-99a5-434e-99e7-1447f13a2d17",
      "credentials": {
        "smtp": {
          "id": "GR5kg3dzrkw00Slf",
          "name": "contacto@hosting3m.com"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "51275301-bea2-454d-b495-3f942bbdb9e6",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -592,
        240
      ],
      "id": "94b3ed74-1ec9-472a-a0c8-8a875c38a1e2",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"mensaje\": \"Acceso denegado\"}",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -368,
        336
      ],
      "id": "6761c733-1b05-40d9-9df4-d1e226c4a092",
      "name": "Respond Denegate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://jwt-service:4000/verify-token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.headers.authorization }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -816,
        240
      ],
      "id": "690e5013-4286-4a00-bc54-4672aaa8860b",
      "name": "Verify Token"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "v2/contact",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://hosting3m.com"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1040,
        240
      ],
      "id": "3255290d-21fb-42da-91dc-64937dd5c478",
      "name": "Webhook Contact",
      "webhookId": "7d364b2e-be45-40eb-b7b9-8740bd3b8ba7"
    }
  ],
  "pinData": {},
  "connections": {
    "CodeFields": {
      "main": [
        [
          {
            "node": "Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert": {
      "main": [
        [
          {
            "node": "SendMail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "getCustomer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update": {
      "main": [
        [
          {
            "node": "SendMail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SendMailError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getCustomer": {
      "main": [
        [
          {
            "node": "Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SendMailError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendMailContact": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendMail": {
      "main": [
        [
          {
            "node": "SendMailContact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendMailError": {
      "main": [
        [
          {
            "node": "SendMailContact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "CodeFields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Denegate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Token": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Contact": {
      "main": [
        [
          {
            "node": "Verify Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "9SrVXdATmlrZemJT",
    "timeSavedMode": "fixed",
    "timeSavedPerExecution": 5
  },
  "versionId": "e93f5a9f-d3b6-4ede-85e4-03c6513c92d9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75957d34f9f0189415b8c82ca3ce42d8f0b464efd869382da2158435b39f044d"
  },
  "id": "rrhAH1qMYfcQ68mB",
  "tags": [
    {
      "updatedAt": "2025-12-20T19:25:08.685Z",
      "createdAt": "2025-12-20T19:25:08.685Z",
      "id": "ljhw24TcxNVpCPyc",
      "name": "Webhook"
    },
    {
      "updatedAt": "2025-12-20T19:25:50.503Z",
      "createdAt": "2025-12-20T19:25:50.503Z",
      "id": "wJ0vNQ7idcCu9BGu",
      "name": "JWT"
    },
    {
      "updatedAt": "2025-12-20T20:03:23.298Z",
      "createdAt": "2025-12-20T20:03:23.298Z",
      "id": "UUN2qPnY76eYwC1y",
      "name": "CRUD"
    },
    {
      "updatedAt": "2025-12-20T20:03:43.499Z",
      "createdAt": "2025-12-20T20:03:43.499Z",
      "id": "6dOXPBVsMw3OlOvZ",
      "name": "Mail"
    },
    {
      "updatedAt": "2025-12-20T20:03:46.545Z",
      "createdAt": "2025-12-20T20:03:46.545Z",
      "id": "jafWIhyZ3XGpyA6j",
      "name": "Postgres"
    }
  ]
}