workflows/03-rag-news-intelligence/v2/v2-rag.json
{
  "name": "v2/news",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const urls = [\n  // --- GOOGLE NEWS (Búsqueda por palabra clave) ---\n  \"https://news.google.com/rss/search?q=inteligencia+artificial+when:24h&hl=es-419&gl=MX&ceid=MX:es-419\",\n  \"https://news.google.com/rss/search?q=automatizacion+n8n+when:24h&hl=es&gl=ES&ceid=ES:es\",\n  \n  // --- COMUNIDAD ---\n  \"https://www.meneame.net/rss?id=231\", \n  \"https://reddit.com/r/es/search.rss?q=tecnologia&sort=new\",\n  \n  // --- MEDIOS ---\n  \"https://eloutput.com/feed/\",\n  \"https://www.infobae.com/feeds/rss/es/tag/tecnologia/\",\n  \"https://as.com/meristation/tecnologia/rss/\",\n  \"https://www.diariomotor.com/tecmovia/feed/\"\n];\n\nreturn urls.map(url => ({ json: { url } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7008,
        1312
      ],
      "id": "dad9b944-edce-48f3-9ee4-d195cdedb642",
      "name": "GenerarUrls"
    },
    {
      "parameters": {
        "url": "={{$json[\"url\"]}}",
        "options": {}
      },
      "id": "960f7763-d3fd-46d9-a7ed-1796a463eaf4",
      "name": "Leer RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        7232,
        1312
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "v2/news",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://hosting3m.com",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization, x-jwt-claim-role"
              },
              {
                "name": "Access-Control-Allow-Credentials",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "ff3da440-8fa0-490d-bc33-8c9638ebb608",
      "name": "Webhook Noticias",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "webhookId": "noticias-ti",
      "position": [
        6336,
        1408
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$json[\"html\"]}}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        8128,
        1312
      ],
      "id": "edc6bc1e-f73b-4858-ac28-76f2077355ca",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// 1. Limpieza inicial\nconst validItems = items.filter(item => item.json && item.json.title);\nconst MIN_DESEADO = 5;\n\n// === TUS TEMAS ===\nconst topics = [\n  \"inteligencia artificial\", \"ia\", \"ai \", \"llm\", \"gpt\", \"chatgpt\", \"gemini\", \"claude\",\n  \"n8n\", \"automatización\", \"automatizar\", \"workflow\", \"linux\", \"docker\", \"servidor\", \"agente\", \"agentic\"\n];\n\nfunction matchTopic(item) {\n  const title = (item.json.title || \"\").toLowerCase();\n  const desc = (item.json.contentSnippet || item.json.description || \"\").toLowerCase();\n  return topics.some(keyword => (title + \" \" + desc).includes(keyword.toLowerCase()));\n}\n\n// 2. Filtrar por tema (PRIMERO FILTRAMOS, LUEGO PROCESAMOS IMAGENES)\nlet candidates = validItems.filter(matchTopic);\n\n// 3. Ordenar por fecha DESCENDENTE\ncandidates.sort((a, b) => {\n  const dateA = new Date(a.json.pubDate || 0);\n  const dateB = new Date(b.json.pubDate || 0);\n  return dateB - dateA;\n});\n\n// 4. Quitar duplicados por título\nconst uniqueTitles = new Set();\nconst finalNews = candidates.filter(item => {\n  const isDuplicate = uniqueTitles.has(item.json.title);\n  uniqueTitles.add(item.json.title);\n  return !isDuplicate;\n});\n\n// 5. Devolver máximo 10 noticias (para no saturar el HTML)\nreturn finalNews.slice(0, 10);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7456,
        1312
      ],
      "id": "6b3b62ae-250e-4c92-b2b1-3bf849d582bd",
      "name": "1. FiltrarTemas"
    },
    {
      "parameters": {
        "jsCode": "let html = `<div class=\\\"news-list\\\">`;\n\nfor (const it of items) {\n const d = it.json;\n // Usamos la imagen generada por IA, o un fallback si algo fallara\n const imageUrl = d.image_ai || 'https://placehold.co/800x450?text=News';\n \n html += `\n <article class=\\\"news-card\\\">\n <a href=\\\"${d.link}\\\" target=\\\"_blank\\\" rel=\\\"noopener noreferrer\\\" style=\\\"text-decoration:none;color:inherit;\\\">\n <div style=\\\"overflow:hidden; border-radius:6px; margin-bottom:10px;\\\">\n <img src=\\\"${imageUrl}\\\" class=\\\"news-img\\\" alt=\\\"${d.title}\\\" style=\\\"width:100%; height:auto; display:block;\\\" loading=\\\"lazy\\\" />\n </div>\n\n <h3 class=\\\"news-title\\\" style=\\\"margin:0 0 8px 0;\\\">${d.title}</h3>\n\n <p class=\\\"news-body\\\" style=\\\"margin:0 0 12px 0;\\\">${d.contentSnippet ? d.contentSnippet.substring(0, 120) : ''}${d.contentSnippet ? '...' : ''}</p>\n\n <div class=\\\"news-footer\\\" style=\\\"display:flex;justify-content:space-between;align-items:center;font-size:12px;color:#666;\\\">\n <time>${new Date(d.pubDate).toLocaleDateString()}</time>\n <span style=\\\"font-weight:600;color:#1a73e8;\\\">Leer más →</span>\n </div>\n </a>\n </article>\n `;\n}\nhtml += `</div>`;\n\nreturn [{ json: { html } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7904,
        1312
      ],
      "id": "c86e6e3d-b7ba-470d-8f26-60dbabe21453",
      "name": "3. ConstruirHTML"
    },
    {
      "parameters": {
        "jsCode": "// Generación de Imagen IA con Pollinations (Sin Costo)\n// Modelo: Flux (Mejor realismo)\n\nreturn items.map(item => {\n  const title = item.json.title || \"Technology News\";\n\n  // 1. Limpiar título para URL\n  // Agregamos keywords en inglés para guiar a la IA hacia un estilo \"Tech\"\n  const cleanTitle = title.replace(/[^a-zA-Z0-9 ]/g, \" \");\n  const prompt = `Futuristic tech concept art about: ${cleanTitle}, isometric, 8k, unreal engine 5 render, blue and cyan neon lighting`;\n  const encodedPrompt = encodeURIComponent(prompt);\n\n  // 2. Generar semilla aleatoria para que la imagen sea diferente cada vez\n  const seed = Math.floor(Math.random() * 5000);\n\n  // 3. Construir URL\n  // Usamos model=flux o simplemente flux\n  const imageUrl = `https://image.pollinations.ai/prompt/${encodedPrompt}?width=800&height=450&model=flux&seed=${seed}&nologo=true&key=pk_TfnIpOww44yxMX2U`;\n\n  return {\n    json: {\n      ...item.json,\n      image_ai: imageUrl\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7680,
        1312
      ],
      "id": "1bb55dfe-acad-4635-9c8c-2f431851462c",
      "name": "2. GenerarImagenIA"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://jwt-service:4000/verify-token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.headers.authorization }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6560,
        1408
      ],
      "id": "e7d937ae-8f0e-4650-991d-3b5be1b1cd38",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "51275301-bea2-454d-b495-3f942bbdb9e6",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6784,
        1408
      ],
      "id": "46848542-1d48-48d9-a660-23e5ea039c91",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"mensaje\": \"Acceso denegado\"}",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        7008,
        1504
      ],
      "id": "90c207e1-442b-4a78-97a8-6e6e0104a321",
      "name": "Respond Denegate"
    }
  ],
  "pinData": {},
  "connections": {
    "GenerarUrls": {
      "main": [
        [
          {
            "node": "Leer RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer RSS": {
      "main": [
        [
          {
            "node": "1. FiltrarTemas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Noticias": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. FiltrarTemas": {
      "main": [
        [
          {
            "node": "2. GenerarImagenIA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. ConstruirHTML": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. GenerarImagenIA": {
      "main": [
        [
          {
            "node": "3. ConstruirHTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "GenerarUrls",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Denegate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "9SrVXdATmlrZemJT",
    "timeSavedPerExecution": 1
  },
  "versionId": "52cba998-eafe-40ef-a173-248612a75faf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ebfe6551ca260f617d68572b7a0eb6825fe3993d0da19ebfb0e274f2e0ccb37"
  },
  "id": "ZngYvvyhhTnhuZH8",
  "tags": []
}