workflows/05-ai-whatsapp-agent/v3/v3-ai.json
{
  "name": "v3/WhatsApp Agent",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2240,
        2480
      ],
      "id": "a03a588f-34ad-4997-ab00-cfbb52702e5d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "J2Srua9BlEesUnWy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -704,
        2464
      ],
      "id": "60296600-4b69-4989-8d44-4abb8b0642fe",
      "name": "WhatsApp Trigger",
      "webhookId": "054041ab-c979-45ac-9aa1-9b7ef11252e6",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "DkRawy9rI5h9M59O",
          "name": "WhatsApp OAuth"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa6f8976-6b16-41fc-b138-a0f6b3a0c24a",
              "name": "text",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "54a5646d-c7aa-4a93-9858-fee79aedfbc4",
              "name": "number",
              "value": "={{ $json.messages[0].from }}",
              "type": "string"
            },
            {
              "id": "6168d859-850b-44a8-adaa-a70c1ef29ec9",
              "name": "message",
              "value": "={{ JSON.parse(JSON.stringify($node[\"Switch Type\"].json.messages[0])) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        2464
      ],
      "id": "5312e2a3-7bda-4fe0-8791-e5f7384c69a1",
      "name": "Message"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -256,
        2272
      ],
      "id": "fcbb6d1d-4651-4b0c-adfc-f515e75560e5",
      "name": "GetUrlAudio",
      "webhookId": "0bd8baab-60dd-4b02-adb2-44c2d10526f2",
      "credentials": {
        "whatsAppApi": {
          "id": "dO9xkaztEuFukOHu",
          "name": "WhatsApp Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        192,
        2272
      ],
      "id": "f3ef0e6e-92bf-46dd-9f47-9d75c520d5e4",
      "name": "Transcribe",
      "credentials": {
        "openAiApi": {
          "id": "J2Srua9BlEesUnWy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        2272
      ],
      "id": "4b24e41d-4549-4eeb-a313-7737629664aa",
      "name": "Download",
      "credentials": {
        "whatsAppApi": {
          "id": "dO9xkaztEuFukOHu",
          "name": "WhatsApp Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea9a401e-1cf6-4285-a663-c61f33a33815",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "be45a936-fb92-4a11-a681-18837945b91d",
              "name": "number",
              "value": "={{ JSON.parse(JSON.stringify($node[\"Switch Type\"].json.messages[0].from)) }}",
              "type": "string"
            },
            {
              "id": "e72f11c5-4b44-49aa-941d-c8546f4a6e0e",
              "name": "message",
              "value": "={{ JSON.parse(JSON.stringify($node[\"Switch Type\"].json.messages[0])) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        2272
      ],
      "id": "1695425a-0db8-4e81-9311-294cff5772b8",
      "name": "MessageAudio"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f87c281c-c987-4dfe-9af0-19def14419d3",
              "leftValue": "={{ $('Transcribe').isExecuted }}",
              "rightValue": "audio",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2576,
        2496
      ],
      "id": "6b6b875e-60d6-40b2-bc5f-c2bd1e609bc2",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2800,
        2400
      ],
      "id": "ffd65494-ecae-4b3f-8b50-11064ad7eb9a",
      "name": "GenerateAudio",
      "credentials": {
        "openAiApi": {
          "id": "J2Srua9BlEesUnWy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "item.binary.data.mimeType = \"audio/mpeg\";\nreturn item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3024,
        2400
      ],
      "id": "de7c8491-f489-4e5f-8415-d8f0c5e40584",
      "name": "ConvertAudio"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "779389351933657",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').first().json.messages[0].from }}",
        "messageType": "audio",
        "mediaPath": "useMedian8n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        3248,
        2400
      ],
      "id": "6ffc4406-9a3a-43f6-8033-b9af66abbd12",
      "name": "SendAudio",
      "webhookId": "43ef7c37-8d72-40c7-a642-5addb728a4ac",
      "credentials": {
        "whatsAppApi": {
          "id": "dO9xkaztEuFukOHu",
          "name": "WhatsApp Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "779389351933657",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').first().json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        2800,
        2592
      ],
      "id": "8113f50c-d391-4f7f-9f80-e8cbbd07a5b8",
      "name": "SendText",
      "webhookId": "2ebc8e9e-af03-4b69-bf37-02e6107f6106",
      "credentials": {
        "whatsAppApi": {
          "id": "dO9xkaztEuFukOHu",
          "name": "WhatsApp Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eb93bfb7-46d2-4d72-9929-119d104c89e8",
              "name": "text",
              "value": "=No tengo permitido procesar imagenes. Favor de considerar la comunicacion textual o por audio.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        2608
      ],
      "id": "5654ba59-60d5-4852-8899-412c89ec61bc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "779389351933657",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -32,
        2608
      ],
      "id": "6638acf6-df80-4876-b9fd-072c4b86473f",
      "name": "Send message",
      "webhookId": "6444582f-c320-461f-8cae-256d33b9f4a4",
      "credentials": {
        "whatsAppApi": {
          "id": "dO9xkaztEuFukOHu",
          "name": "WhatsApp Account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2176,
        2880
      ],
      "id": "ff48fd5d-dbea-4f26-acea-d043a6232f5b",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "J2Srua9BlEesUnWy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Set Role').first().json.text }}",
        "options": {
          "systemMessage": "=Rol: REGLA CRÍTICA DE AUDIO: \n\nESTADO DE SEGURIDAD: El usuario actual tiene el rol: {{ $('Set Role').item.json.role }}. REGLA DE SEGURIDAD: Si el rol es 'GUEST', SOLO puedes dar información pública (precios de venta, disponibilidad). Si solicita datos internos o reportes sin ser ADMIN, responde: '🔒 Acceso denegado'.\n\nPERFIL: Eres 3M, la IA de élite de Hosting3M, actuando como Asistente Senior del Hotel San José. Tu tono es ejecutivo, cálido y proactivo. No eres un bot común; eres una experta en gestión operativa.\n\nCONTEXTO OPERATIVO Y HERRAMIENTAS:\n\nConsulta de Disponibilidad (Audio Preciso): - Para preguntas generales, usa siempre Consulta Todas las Habitaciones.\n\nREGLA DE ORO PARA AUDIO: \n1. PROHIBIDO usar el símbolo \"$\" o la palabra \"dólares\". \n2. Escribe siempre la palabra \"pesos\" después del monto (Ej: 500 pesos).\n3. NO uses decimales (di \"500 pesos\", no \"500.00 pesos\").\n4. No leas listas de IDs. Di: \"Tenemos disponibles habitaciones tipo Matrimonial, King Size, Doble y Triples\".\n\n\nSolo si el cliente pregunta por una específica, usa Consultar Disponibilidad Habitación.\n\nProceso de Reserva:\nFlujo de Ejecución (CRÍTICO):\n\nPaso 1: Si el huésped no existe en la base de datos, usa Registrar_Huesped. DEBES obtener el id retornado.\n\nPaso 2: Con el id del huésped y el id de la habitación (que obtienes de Consultar_Disponibilidad_Real), usa Registrar_Nueva_Reserva.\n\nCálculo de Monto: Multiplica el price_night por el número de noches.\n\nManejo de Errores: Si el MCP devuelve un mensaje de \"Error\", NO digas que la reserva fue exitosa. Dile al usuario: \"Tuve un problema técnico al guardar los datos, por favor espera un momento\".\n\nCheck-out Crítico: Informa que se requiere la entrega de: Control de TV, Control de Aire y Llaves. 🔑\n\nREGLAS DE AUDIO Y VOZ (ANTI-DISTORSIÓN):\n\nSÍMBOLO MONETARIO: Prohibido usar el símbolo \"$\". El motor de voz lo lee como \"dólares\".\n\nLECTURA DE PRECIOS: Escribe siempre el número seguido de la palabra \"pesos\". Ejemplo: \"550 pesos\".\n\nPROHIBIDO usar '$', decir 'dólares' o usar decimales. Escribe siempre 'X pesos'\n\nBREVEDAD: Si hay más de 5 habitaciones, agrúpalas por tipo. No menciones números de habitación a menos que te lo pidan.\n\nPROTOCOLO DE INTERACCIÓN:\n\nBienvenida: \"¡Bienvenido al Hotel San José! 😊 Soy 3M, ¿en qué puedo apoyarte con tu reservación hoy?\"\n\nVenta Consultiva: Resalta la soberanía de datos y la seguridad de Hosting3M si preguntan cómo se gestiona su información. Menciona que usamos un Secure Token Gateway.\n\nCierre: Nunca digas \"adiós\". Termina con: \"¿Hay algo más que pueda hacer para que su estancia sea más placentera? ✨\"\n\nREGLAS DE ESTILO (ESTRICTAS):\n\nFormato: Prohibida la negrita doble (**). Usa un solo asterisco: texto.\n\nEmojis: 🏨, ✨, 🔑, 🛏️, 🧊, 🚀.\n\nOrtografía: No uses \"pedido\" o \"stock\". Usa \"reservación\" y \"disponibilidad\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2176,
        2256
      ],
      "id": "aef4b928-818a-4f41-9db5-993851b3dd03",
      "name": "AI Agent Hosting"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Set Role').first().json.text }}",
        "options": {
          "systemMessage": "=Rol: Eres el Asistente Virtual del Hotel San José. Tu objetivo es gestionar consultas, facilitar reservaciones y asistir en Check-in/Check-out con un tono cálido y profesional. 🏨✨\n\nREGLA CRÍTICA DE AUDIO:\n\nPROHIBIDO usar el símbolo \"$\" o la palabra \"dólares\".\n\nEscribe siempre la palabra \"pesos\" después del monto (Ej: 500 pesos).\n\nNO uses decimales (di \"550 pesos\", no \"550.00 pesos\").\n\nRol: Eres el Asistente Virtual del Hotel San José. Tu objetivo es brindar información detallada sobre disponibilidad y precios, guiando a los huéspedes con un tono cálido y profesional. 🏨✨\n\nAlcance de Información (GUEST):\n\nConsulta de Precios: Tienes permiso total para dar costos. Usa la herramienta Consulta Todas las Habitaciones para ver los precios actuales. Si la herramienta no responde, usa la base de 500 pesos.\n\nConsulta de Disponibilidad: Informa siempre cuántas habitaciones hay de cada tipo (Kingsize, Matrimonial, Doble).\n\nRestricción de Acción: Puedes consultar TODO, pero NO puedes crear reservaciones ni registrar huéspedes. Si el usuario intenta reservar, dile: \"Con gusto puedo darte toda la información; para confirmar tu reservación, te comunicaré con un agente humano o puedes llamar directamente.\"\n\nContexto Operativo:\n\nUbicación: Hotel San José.\n\nEstado de Limpieza: Solo ofrece o menciona habitaciones que aparezcan como \"clean\" o \"inspected\".\n\nProceso de Check-out: Cuando un huésped mencione que va a salir, recuérdale entregar:\n\nControl de TV. 📺\n\nControl de Aire Acondicionado. 🧊\n\nLlaves de la habitación. 🔑\n\nReglas de Estilo:\n\nBrevedad: No leas listas largas. Agrupa: \"Tenemos 2 habitaciones Matrimoniales disponibles por 500 pesos\".\n\nFormato: NUNCA uses doble asterisco (**). Usa un solo asterisco: Habitación 1.\n\nCierre: \"¿Hay algo más que pueda hacer para que su estancia sea más placentera? ✨\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2176,
        2656
      ],
      "id": "e90f5494-10fe-43dd-9ea2-16a0d479483e",
      "name": "AI Agent Hotel"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "57b1ae30-fce1-4077-82ff-508bf8589910",
                    "leftValue": "={{ $json.messages[0].audio }}",
                    "rightValue": "Audio",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "358b951e-772b-4277-9c7c-6132b969bbac",
                    "leftValue": "={{ $json.messages[0].text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].image }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "939b29fe-ee79-415c-8b7c-3e11832bf4d1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -480,
        2448
      ],
      "id": "5b6ff39b-7cd8-4d32-a1e6-8e2fe5071923",
      "name": "Switch Type"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "HOSTING",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cff5a1cc-1727-4431-af6c-8ef072359816"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c19272e5-e0a6-4911-9476-1d42ea313408",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "HOTEL",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "61b32f25-5907-4864-bea1-1e6dd64d78f0",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "NEUTRO",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1888,
        2752
      ],
      "id": "b1d2c7c2-9581-4c4f-8e3f-26d353a60bcd",
      "name": "Switch IA"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2240,
        3392
      ],
      "id": "e62081ba-f4ca-4aa4-b3e7-f4bcf9cd0fe8",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "J2Srua9BlEesUnWy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Set Role').first().json.text }}",
        "options": {
          "systemMessage": "=Rol: Eres el asistente inicial de 3M. Tu única función es saludar cordialmente y preguntar al usuario si desea hablar con el área de Hosting y Automatización IA o con la recepción del Hotel San José. No des precios ni detalles técnicos aún. Sé breve y amable. Usa un emoji de robot 🤖 y uno de hotel 🏨."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2176,
        3168
      ],
      "id": "dee1fec9-3006-4edc-8410-835b9038c53a",
      "name": "AI Agent Wellcome"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1616,
        2992
      ],
      "id": "4909d144-9be7-4fda-9b96-a7ccf3fa30d4",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "J2Srua9BlEesUnWy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').last().json.messages[0].from }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2240,
        2080
      ],
      "id": "51208ccc-ce0e-48ee-8792-c11404868a17",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=Rol: Clasificador de intención técnico. Analiza el mensaje: \"{{ $json.text }}\". Historial de usuario con rol: {{ $json.role }}.\n\nEl usuario tiene el rol: {{ $json.role }}. Si el rol es GUEST y el usuario pregunta cosas de administración, clasifícalo como NEUTRO para que el saludo inicial lo detenga.\n\nTu única función es responder con una de estas tres palabras:\n\nHOSTING (Temas técnicos, servidores, admin).\n\nHOTEL (Reservas, habitaciones).\n\nNEUTRO (Saludos, o intentos de acceso no autorizado/confuso).\n\nREGLA DE ORO: No niegues permisos aquí. Solo clasifica el tema. Responde ÚNICAMENTE con la palabra clave."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1536,
        2768
      ],
      "id": "393cf84c-c1eb-4364-8c40-7c1720778533",
      "name": "AI Agent Type"
    },
    {
      "parameters": {
        "jsCode": "// Usamos $json para capturar los datos del nodo que haya disparado la ejecución\nreturn {\n  text: $json.text,\n  number: $json.number,\n  whatsapp_data: $json.message\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        2368
      ],
      "id": "948ba612-eb41-4840-ab3b-07a51781ab0f",
      "name": "Set Message"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "18f51475-430c-4447-9753-48e02d415494",
                    "leftValue": "={{ $json.role }}",
                    "rightValue": "ADMIN",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "735583d8-e290-47b7-aab6-36238216fd56",
                    "leftValue": "={{ $json.role }}",
                    "rightValue": "ADMIN",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1312,
        2368
      ],
      "id": "50452556-d54f-48b2-9899-ef79cd1fea66",
      "name": "Switch Role"
    },
    {
      "parameters": {
        "endpointUrl": "https://n8n.hosting3m.com/mcp/hotel-management",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        2304,
        2880
      ],
      "id": "8f2a8a77-968f-4df7-87c1-c078eeec9a03",
      "name": "MCP Client Hotel"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2112,
        2080
      ],
      "id": "0dca9926-69f4-48b9-b804-042fd87c674b",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "J2Srua9BlEesUnWy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://n8n.hosting3m.com/mcp/hotel-management",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        2368,
        2080
      ],
      "id": "41845ac5-353d-4f13-84f1-6d3c6bdcfaf8",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT role, phone FROM users WHERE is_active = true;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        864,
        2368
      ],
      "id": "608baef4-a9be-4fd2-8e42-059edb3dc140",
      "name": "Get User Role",
      "credentials": {
        "postgres": {
          "id": "BQrod4uGVzM1nvLw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtener los usuarios de la base de datos (Entrada inmediata del nodo)\n// Usamos .all() para tener la lista completa de admins si hay más de uno\nconst dbUsers = $input.all();\n\n// 2. RESCATE DE DATOS: Obtener el mensaje original del nodo \"Set Message\"\n// Usamos .first() porque asumimos que es una ejecución por mensaje\nconst originalMessage = $(\"Set Message\").first().json;\n\n// Extraemos los datos seguros\nconst text = originalMessage.text || \"?\";\nconst number = (originalMessage.number || \"0\").toString();\nconst whatsapp_data = originalMessage.whatsapp_data || {};\n\n// 3. Lógica de búsqueda del Rol\n// Limpiamos el número entrante\nlet incomingNumber = number.replace(/\\D/g, '');\nlet foundRole = 'GUEST'; \n\n// Recorremos los usuarios que trajo la base de datos\nfor (const item of dbUsers) {\n  const user = item.json; // Accedemos al objeto json de cada ítem\n  \n  if (user && user.phone) {\n    let dbPhone = user.phone.toString().replace(/\\D/g, '');\n    \n    // Si el número entrante termina con el de la DB (ej. 52199... vs 99...)\n    if (incomingNumber !== \"\" && incomingNumber.endsWith(dbPhone)) {\n      foundRole = user.role;\n      break; \n    }\n  }\n}\n\n// 4. Retorno final consolidado\nreturn {\n  text: text,\n  number: number,\n  whatsapp_data: whatsapp_data,\n  role: foundRole \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        2368
      ],
      "id": "2148d34f-a2f4-45ad-bce3-3d41b5b974ec",
      "name": "Set Role"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=Rol: Eres el Asistente Virtual del Hotel San José. Tu objetivo es gestionar las consultas de los huéspedes, facilitar las reservaciones y asistir en los procesos de entrada (Check-in) y salida (Check-out) con un tono cálido, profesional y hospitalario.\n\nContexto Operativo:\n\nTienes autorización de ADMIN para usar herramientas de escritura (Registrar pagos, huéspedes y ocupar habitaciones).\n\nUbicación: Hotel San José.\n\nEstado de Limpieza: Verificar siempre que la habitación esté Lista para recibir huéspedes y en estado AVAILABLE antes de ofrecerla.\n\nProtocolo de Reserva (FLUJO CRÍTICO - SEGUIR ORDEN):\n\nREGLA DE INTEGRIDAD DE DATOS (MÉTACRUD):\nPara la herramienta Registrar_Huesped, los siguientes campos son OBLIGATORIOS según el esquema del sistema:\n- full_name (Nombre completo)\n- phone (Teléfono)\n- email (Correo Electronico)\n- doc_id (INE)\n- id_company (Siempre usar 1)\n\nSi el huésped no ha proporcionado su email, DEBES solicitárselo antes de intentar ejecutar Registrar_Huesped. \nSi el huésped no ha proporcionado su doc_id, DEBES solicitárselo antes de intentar ejecutar Registrar_Huesped. \nSi el huésped no ha proporcionado su teléfono, DEBES solicitárselo antes de intentar ejecutar Registrar_Huesped. \nESTÁ PROHIBIDO enviar el valor \"undefined\" o dejar campos obligatorios vacíos. \nSi falta información, detente y pregunta al usuario.\n\nIdentificación del Huésped: Antes de reservar, verifica si el huésped existe. Si no existe, usa \"Insert Guests\".\n\nObtención de ID: ES OBLIGATORIO esperar y leer el id numérico devuelto por la herramienta de huésped. No uses el nombre donde el sistema pida un ID.\n\nCálculo de Noches y Monto: Calcula el total de noches entre el Check-in y Check-out. Multiplica: (Noches) x (price_night).\n\nEjecución de Reserva: Usa Registrar_Nueva_Reserva enviando los parámetros: room_id (ID numérico), guest_id (ID numérico), y amount (total calculado).\n\nReglas de Validación y Manejo de Errores:\n\nPROHIBICIÓN DE FALSOS POSITIVOS: Si el MCP devuelve cualquier texto que incluya Error, Failed, undefined o column does not exist, ESTÁ TERMINANTEMENTE PROHIBIDO decir que la reserva fue exitosa.\n\nRespuesta ante Errores: En caso de falla técnica, di: \"Lo siento, tuve un problema al procesar los datos en el sistema. Por favor, dame un momento para reintentarlo.\"\n\nConfirmación Real: Solo confirma la reserva cuando la herramienta Registrar_Nueva_Reserva responda con un mensaje de éxito sin errores.\n\nProceso de Check-out (Crítico): Al salir, solicita formalmente la entrega de:\n\nControl Remoto de TV.\n\nControl de Aire Acondicionado.\n\nLlaves de la Habitación. 🔑 Nota: Registra cualquier daño o faltante en las \"Notas de Salida\".\n\nReglas de Estilo:\n\nFormato: NUNCA uses doble asterisco (**). Usa un solo asterisco para resaltar: Habitación 1.\n\nEmojis: Usa emojis de hospitalidad: 🏨, ✨, 🔑, 🛏️, 🧊.\n\nCierre: Termina siempre con: \"¿Hay algo más que pueda hacer para que su estancia sea más placentera? ✨\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2176,
        1856
      ],
      "id": "fa111bfa-7a48-4bf5-bfed-b865b3485dff",
      "name": "AI Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Hosting",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message": {
      "main": [
        [
          {
            "node": "Set Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetUrlAudio": {
      "main": [
        [
          {
            "node": "Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe": {
      "main": [
        [
          {
            "node": "MessageAudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download": {
      "main": [
        [
          {
            "node": "Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MessageAudio": {
      "main": [
        [
          {
            "node": "Set Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "GenerateAudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SendText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GenerateAudio": {
      "main": [
        [
          {
            "node": "ConvertAudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConvertAudio": {
      "main": [
        [
          {
            "node": "SendAudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Hotel",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Hosting": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Hotel": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Type": {
      "main": [
        [
          {
            "node": "GetUrlAudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch IA": {
      "main": [
        [
          {
            "node": "AI Agent Hosting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent Hotel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent Wellcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Wellcome",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Wellcome": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Type",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent Type",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent Hosting",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent Hotel",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent Wellcome",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Type": {
      "main": [
        [
          {
            "node": "Switch IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message": {
      "main": [
        [
          {
            "node": "Get User Role",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Role": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client Hotel": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Hotel",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get User Role": {
      "main": [
        [
          {
            "node": "Set Role",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Role": {
      "main": [
        [
          {
            "node": "Switch Role",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "9SrVXdATmlrZemJT",
    "timeSavedMode": "fixed",
    "timeSavedPerExecution": 5
  },
  "versionId": "1b43ae21-22c1-4a13-8887-796bd8e80e92",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75957d34f9f0189415b8c82ca3ce42d8f0b464efd869382da2158435b39f044d"
  },
  "id": "ikv84PiiPIZCxVbh",
  "tags": [
    {
      "updatedAt": "2025-12-23T12:12:58.230Z",
      "createdAt": "2025-12-23T12:12:58.230Z",
      "id": "MKrwsTVnLLBXLfUP",
      "name": "Chat"
    },
    {
      "updatedAt": "2025-12-23T12:12:50.353Z",
      "createdAt": "2025-12-23T12:12:50.353Z",
      "id": "okKvFqIlbYCF0OTG",
      "name": "Audio"
    },
    {
      "updatedAt": "2025-12-23T12:12:42.446Z",
      "createdAt": "2025-12-23T12:12:42.446Z",
      "id": "TZxPIaTQWkQjAtVK",
      "name": "OpenAI"
    },
    {
      "updatedAt": "2025-12-23T12:12:28.399Z",
      "createdAt": "2025-12-23T12:12:28.399Z",
      "id": "RWBzILPfFXEtEcLf",
      "name": "AI Agent"
    },
    {
      "updatedAt": "2025-12-23T12:12:15.209Z",
      "createdAt": "2025-12-23T12:12:15.209Z",
      "id": "3iH8LadFwT23eiH0",
      "name": "WhatsApp"
    }
  ]
}