workflows/02-leads-contact/v3/v2-contact.json
{
  "name": "v3/Contact",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Retornar los campos en un formato limpio\nreturn [{\n  json: {\n    authorization: $('Webhook Contact').first().json.headers.authorization,\n    names: $('Webhook Contact').first().json.body.names,\n    middlename: $('Webhook Contact').first().json.body.middlename,\n    lastname: $('Webhook Contact').first().json.body.lastname,\n    email: $('Webhook Contact').first().json.body.email,\n    phone: $('Webhook Contact').first().json.body.phone,\n    service: $('Webhook Contact').first().json.body.service,\n    message: $('Webhook Contact').first().json.body.message\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        96
      ],
      "id": "b67e7e7a-6896-4588-9aa3-ebd920cf8944",
      "name": "CodeFields"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"mensaje\": \"El mensaje se ha enviado de forma satisfactoria.\"\n}\n",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1200,
        96
      ],
      "id": "8e54dd26-e628-4221-b6a6-5b7ca187fda5",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.hosting3m.com/webhook/81949755-352f-4f0b-bdf3-aac2d1f4b369/crud/v2/customers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{$node[\"Verify Token\"].json.authorization}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operation\": \"insert\",\n  \"fields\": {\n    \"id_company\": 1,\n    \"id_type\": 1,\n    \"names\": \"{{ $json.names }}\",\n    \"middlename\": \"{{ $json.middlename }}\",\n    \"lastname\": \"{{ $json.lastname }}\",\n    \"email\": \"{{ $json.email }}\",\n    \"phone\": \"{{ $json.phone }}\",\n    \"service\": \"{{ $json.service }}\",\n    \"message\": \"{{ $json.message }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -144,
        96
      ],
      "id": "2722505e-0cc4-45f3-9b29-52d1d454d96e",
      "name": "Insert",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.hosting3m.com/webhook/81949755-352f-4f0b-bdf3-aac2d1f4b369/crud/v2/customers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "={{$node[\"Verify Token\"].json.authorization}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operation\": \"update\",\n  \"fields\": {\n    \"id\": {{$json.id}},\n    \"id_company\": 1,\n    \"id_type\": 1,\n    \"names\": \"{{ $node[\"Insert\"].json.names }}\",\n    \"middlename\": \"{{ $node[\"Insert\"].json.middlename }}\",\n    \"lastname\": \"{{ $node[\"Insert\"].json.lastname }}\",\n    \"email\": \"{{ $node[\"Insert\"].json.email }}\",\n    \"phone\": \"{{ $node[\"Insert\"].json.phone }}\",\n    \"service\": \"{{ $node[\"Insert\"].json.service }}\",\n    \"message\": \"{{ $node[\"Insert\"].json.message }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        528,
        96
      ],
      "id": "45df74e1-dbe5-4e64-a904-b0684c37ee7e",
      "name": "Update",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.hosting3m.com/webhook/81949755-352f-4f0b-bdf3-aac2d1f4b369/crud/v2/customers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "={{$node[\"Verify Token\"].json.authorization}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operation\": \"getone\",\n  \"fields\": {\n    \"email\": \"{{ $('CodeFields').item.json.email }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        304,
        160
      ],
      "id": "fcbdfc4a-ae20-4696-9e63-69ff025dc9bd",
      "name": "getCustomer",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fromEmail": "n8n@hosting3m.com",
        "toEmail": "=contacto@hosting3m.com",
        "subject": "Contacto Sitio Web.",
        "emailFormat": "=html",
        "html": "=Hemos recibido este correo de: {{$node[\"CodeFields\"].json.names}} {{ $node[\"CodeFields\"].json.middlename }} {{ $node[\"CodeFields\"].json.lastname }}:  <br>\nEl mensaje es el siguiehte: <br>\n\"Message\": \"{{$node[\"CodeFields\"].json.message}}\".<br>\n\"Service\": \"{{$node[\"CodeFields\"].json.service}}\".<br>\n\"Phone\": \"{{$node[\"CodeFields\"].json.phone}}\".\n\n",
        "options": {
          "appendAttribution": false,
          "ccEmail": "fjpimienta@hosting3m.com"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        976,
        96
      ],
      "id": "e08708b5-652f-4552-84ba-c3cfc5cf7311",
      "name": "SendMailContact",
      "webhookId": "8f189d9c-a6cd-43bc-a022-b8b84be004aa",
      "credentials": {
        "smtp": {
          "id": "9FrPlhJb7FCBe7ZO",
          "name": "n8n@hosting3m.com"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "contacto@hosting3m.com",
        "toEmail": "={{ $('CodeFields').item.json.email }}",
        "subject": "Contacto Sitio Web.",
        "html": "=Hola. {{ $json.data.names }}: <br>\nGracias por contactarnos. Analizaremos tus comentarios y nos pondremos en contacto en breve.",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        752,
        -32
      ],
      "id": "72a206ce-4424-4d81-842a-3a567faa35a6",
      "name": "SendMail",
      "webhookId": "115bb7cd-712c-45c5-956e-cd2f239f73fb",
      "credentials": {
        "smtp": {
          "id": "GR5kg3dzrkw00Slf",
          "name": "contacto@hosting3m.com"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "contacto@hosting3m.com",
        "toEmail": "={{ $('CodeFields').item.json.email }}",
        "subject": "Contacto Sitio Web.",
        "emailFormat": "=html",
        "html": "=Hola. {{ $json.data[0].names }}: <br>\nGracias por contactarnos. Analizaremos tus comentarios y nos pondremos en contacto en breve.\n\"message\": \"{{$node[\"CodeFields\"].json.message}}\"\n",
        "options": {
          "appendAttribution": true,
          "ccEmail": "fjpimienta@hosting3m.com"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        752,
        208
      ],
      "id": "2dfa69d7-64d0-40cc-9868-edd0b3661033",
      "name": "SendMailError",
      "webhookId": "ad4a3bd0-f3dd-472e-a64d-0cdff0c23d41",
      "credentials": {
        "smtp": {
          "id": "GR5kg3dzrkw00Slf",
          "name": "contacto@hosting3m.com"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "51275301-bea2-454d-b495-3f942bbdb9e6",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -592,
        192
      ],
      "id": "63545cdf-6c7c-4c6a-ab32-c8ae6b7baf3f",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"mensaje\": \"Acceso denegado\"}",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -368,
        288
      ],
      "id": "fa64231d-617a-446a-a62c-e840e48b0735",
      "name": "Respond Denegate"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "v3/contact",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://hosting3m.com",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization, x-jwt-claim-role"
              },
              {
                "name": "Access-Control-Allow-Credentials",
                "value": "true"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://hosting3m.com"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1040,
        192
      ],
      "id": "dee2a630-7107-41f8-b422-d86138b91c25",
      "name": "Webhook Contact",
      "webhookId": "7e03f1f9-006c-49cb-92d2-cfce31923e49"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bca567fc-e0ab-4cab-983c-96619f672a83",
              "leftValue": "={{ $json.data.message }}",
              "rightValue": "duplicate key",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        80,
        -32
      ],
      "id": "1bb8f266-15e8-42f4-b2a3-f8b09797c791",
      "name": "If1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "RSz6L3aXj3NfumwG",
          "mode": "list",
          "cachedResultUrl": "/workflow/RSz6L3aXj3NfumwG",
          "cachedResultName": "v3/SW ValidaToken"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -816,
        192
      ],
      "id": "3b8edc18-0dad-41fd-b079-c0b88cc1f856",
      "name": "Verify Token"
    }
  ],
  "pinData": {},
  "connections": {
    "CodeFields": {
      "main": [
        [
          {
            "node": "Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "getCustomer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update": {
      "main": [
        [
          {
            "node": "SendMail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SendMailError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getCustomer": {
      "main": [
        [
          {
            "node": "Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SendMailError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendMailContact": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendMail": {
      "main": [
        [
          {
            "node": "SendMailContact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendMailError": {
      "main": [
        [
          {
            "node": "SendMailContact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "CodeFields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Denegate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Contact": {
      "main": [
        [
          {
            "node": "Verify Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "SendMail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "getCustomer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Token": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "9SrVXdATmlrZemJT",
    "timeSavedMode": "fixed",
    "timeSavedPerExecution": 5
  },
  "versionId": "0471ae35-2385-4d93-b67e-fef6aa332376",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75957d34f9f0189415b8c82ca3ce42d8f0b464efd869382da2158435b39f044d"
  },
  "id": "nwdUJSP5n47M0jee",
  "tags": [
    {
      "updatedAt": "2025-12-20T20:03:46.545Z",
      "createdAt": "2025-12-20T20:03:46.545Z",
      "id": "jafWIhyZ3XGpyA6j",
      "name": "Postgres"
    },
    {
      "updatedAt": "2025-12-20T20:03:43.499Z",
      "createdAt": "2025-12-20T20:03:43.499Z",
      "id": "6dOXPBVsMw3OlOvZ",
      "name": "Mail"
    },
    {
      "updatedAt": "2025-12-20T20:03:23.298Z",
      "createdAt": "2025-12-20T20:03:23.298Z",
      "id": "UUN2qPnY76eYwC1y",
      "name": "CRUD"
    },
    {
      "updatedAt": "2025-12-20T19:25:50.503Z",
      "createdAt": "2025-12-20T19:25:50.503Z",
      "id": "wJ0vNQ7idcCu9BGu",
      "name": "JWT"
    },
    {
      "updatedAt": "2025-12-20T19:25:08.685Z",
      "createdAt": "2025-12-20T19:25:08.685Z",
      "id": "ljhw24TcxNVpCPyc",
      "name": "Webhook"
    }
  ]
}