workflows/04-omnichannel-social/v2/v2-omnichanel.json
{
  "name": "v2/OmniChannel",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 6
            },
            {}
          ]
        }
      },
      "id": "ac88eff1-5161-44a7-8924-cd8c5a37059e",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -3712,
        4352
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67de7425-fb84-4c31-91fc-954061dc076d",
              "name": "tweet_text",
              "value": "={{ `💡 \"${$json.data[0].title}\". Echa un vistazo al análisis completo de ${$json.data[0].source}. #TechNews #IA #FuturoDigital #Tecnología #Innovación #Hosting3M ➡️ ${$json.data[0].url}` }}\n",
              "type": "string"
            },
            {
              "id": "983175be-ce4b-4fbc-ad7d-bc2e7524096a",
              "name": "fb_post_text",
              "value": "={{ `💡 \"${$json.data[0].title}\", proveniente de ${$json.data[0].source}. ¿Qué opinas de este avance? ¡Comenta abajo! ⬇️ Lee más: ${$json.data[0].url}. #TechNews #IA #FuturoDigital #Tecnología #Innovación #Hosting3M` }}",
              "type": "string"
            },
            {
              "id": "a9bee46a-2427-438a-a8df-3e6ba0b16ab5",
              "name": "li_post_text",
              "value": "={{ `💡 \"${$json.data[0].title}\". Fuente: ${$json.data[0].source} ➡️ ${$json.data[0].url}. #TechNews #IA #FuturoDigital #Tecnología #Innovación #Hosting3M` }}",
              "type": "string"
            },
            {
              "id": "e7d15066-4754-4e2e-8de3-0fa4b5e5d9cc",
              "name": "image",
              "value": "={{ \n  (() => {\n    // 1. Obtenemos el título de la noticia desde el nodo anterior (Limit)\n    const title = $('Get Articles').item.json.title;\n    \n    // 2. Definimos un prompt base para asegurar el estilo \"Tech News\"\n    // \"Futuristic technology concept art about [Titulo], high quality, 4k, trending on artstation\"\n    const prompt = `Futuristic technology concept, editorial illustration about: ${title}, high detail, 8k, professional lighting`;\n  \n    // 3. Codificamos el prompt para URL\n    const encodedPrompt = encodeURIComponent(prompt);\n  \n    // 4. Retornamos la URL de Pollinations\n    // width=1000, height=800 (Coincide con tu nodo DownloadImage), model=flux, seed=random\n    const randomSeed = Math.floor(Math.random() * 1000);\n    return `https://image.pollinations.ai/prompt/${encodedPrompt}?width=1000&height=800&model=flux&nologo=true&seed=${randomSeed}`;\n  })() \n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2592,
        4272
      ],
      "id": "82e19c04-2d7c-49e6-aed0-f34b0139de8c",
      "name": "SetX"
    },
    {
      "parameters": {
        "text": "={{ $json.tweet_text_fixed }}",
        "additionalFields": {
          "attachments": "={{ $json.media_id }}"
        }
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        -800,
        3888
      ],
      "id": "8e5e8e9d-c809-44bc-bc16-977e3f4ba681",
      "name": "CreateTweet",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "wodh3s73zOu8505y",
          "name": "X account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.image }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "redirect": {
            "redirect": {
              "maxRedirects": 10
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2368,
        4208
      ],
      "id": "7f1cc316-5999-4e2e-8502-eb79bcc40550",
      "name": "DownloadImage",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Nodo SaveImage - Código corregido\nconst binaryData = items[0].binary;\nconst jsonData = items[0].json;\n\nif (binaryData && (binaryData.data || binaryData.media)) {\n  return [{\n    json: { ...jsonData, image_status: \"SUCCESS\" },\n    binary: {\n      media: binaryData.data || binaryData.media\n    }\n  }];\n} else {\n  return [{\n    json: { ...jsonData, image_status: \"FAILED\" },\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1696,
        4080
      ],
      "id": "fd3b0c1a-a7be-4adc-a7ff-8a49d1c0eb36",
      "name": "SaveImage"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upload.twitter.com/1.1/media/upload.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth1Api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "media",
              "inputDataFieldName": "media"
            },
            {
              "name": "media_category",
              "value": "tweet_image"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1248,
        3888
      ],
      "id": "76a7c77a-e06d-442b-bd0c-8d9f7da6efcd",
      "name": "UploadImageX",
      "credentials": {
        "oAuth1Api": {
          "id": "P5Kmo1oGuqM9bVsr",
          "name": "X API 1"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "graphApiVersion": "v20.0",
        "node": "me",
        "edge": "accounts",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "fields",
                "value": "name,id,access_token"
              }
            ]
          }
        }
      },
      "id": "fcee418d-3e8a-4f49-9f0b-54fa3b35eb26",
      "name": "GetPageTokens",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -1248,
        3696
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "tOR29lFnpSlRMKLF",
          "name": "Facebook Graph Posts"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// --- CONFIGURACIÓN ---\nconst targetPageId = '103483927910104'; // Tu ID objetivo\n// ---------------------\n\n// 1. Detectar dónde están las páginas (Manejo de estructura variable)\nlet allPages = [];\n\nif (items.length > 0 && items[0].json.id && items[0].json.name) {\n    // CASO A: n8n ya desempaquetó la lista. Cada 'item' es una página.\n    allPages = items.map(i => i.json);\n} else if (items.length > 0 && items[0].json.data && Array.isArray(items[0].json.data)) {\n    // CASO B: Estructura cruda anidada en 'data'.\n    allPages = items[0].json.data;\n} else {\n    // CASO C: No se encontraron datos reconocibles\n    return [{\n        json: {\n            error: \"No se recibieron páginas de Facebook. Revisa el nodo anterior.\",\n            input_received: items[0]?.json\n        }\n    }];\n}\n\n// 2. Buscar tu página específica\nconst targetPage = allPages.find(p => p.id === targetPageId);\n\n// 3. Obtener el contenido del post (del nodo SetX)\n// Nota: Usamos $('SetX').first().json para ir a lo seguro\nlet postContent = {};\ntry {\n    postContent = $('SetX').first().json;\n} catch (e) {\n    postContent = { fb_post_text: \"Texto de prueba\", image: \"https://via.placeholder.com/150\" };\n}\n\n// 4. RESULTADO\nif (targetPage) {\n    // ¡ÉXITO! Encontramos el token\n    return [{\n        json: {\n            status: \"READY_TO_POST\",\n            page_token: targetPage.access_token,\n            page_id: targetPage.id,\n            page_name: targetPage.name,\n            message: postContent.fb_post_text,\n            link: postContent.image\n        }\n    }];\n} else {\n    // ERROR DE COINCIDENCIA (Diagnóstico)\n    // Devolvemos la lista de lo que SÍ encontró para que veas los IDs\n    return [{\n        json: {\n            status: \"ID_MISMATCH\",\n            error_message: `El ID ${targetPageId} no está en la lista de páginas disponibles.`,\n            found_pages: allPages.map(p => ({ name: p.name, id: p.id }))\n        }\n    }];\n}"
      },
      "id": "07d0557e-21e8-4880-9077-850e4347f096",
      "name": "ExtractPageToken",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        3696
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $json.page_id }}/feed",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "link",
              "value": "={{ $json.link }}"
            },
            {
              "name": "access_token",
              "value": "={{ $json.page_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "136194ba-3ed9-455c-b1af-7e4e7979be48",
      "name": "PostToFacebookPage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -800,
        3696
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "communityManagement",
        "postAs": "organization",
        "organization": "=90332415",
        "text": "={{ $('SetX').item.json.li_post_text }}",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "media",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        -800,
        4080
      ],
      "id": "e71e198e-4ec8-47ec-b95a-76db8302b92f",
      "name": "Post Company",
      "credentials": {
        "linkedInCommunityManagementOAuth2Api": {
          "id": "KQqFc6dzSde2tb0X",
          "name": "LinkedIn Credential"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "communityManagement",
        "person": "0KuLF6TNs9",
        "text": "={{ $('SetX').item.json.li_post_text }}",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "media",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        -800,
        4272
      ],
      "id": "84eb4503-f118-4981-8a46-fda88299214e",
      "name": "Post Personal",
      "credentials": {
        "linkedInCommunityManagementOAuth2Api": {
          "id": "KQqFc6dzSde2tb0X",
          "name": "LinkedIn Credential"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2144,
        4272
      ],
      "id": "9f703ac5-c3a2-46de-85f2-12d74f1212d2",
      "name": "HandleImageError"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b49b09f8-4a28-4bed-9ced-0c91f2d4649f",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1920,
        4272
      ],
      "id": "c26a0786-1f20-47f4-867f-a4fc1adc18cc",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0f0a040c-5235-4de7-aae4-a2acc5f58e80",
              "leftValue": "={{ $json.image_status }}",
              "rightValue": "SUCCESS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1472,
        4080
      ],
      "id": "2f4a218a-2f46-4edb-8b1f-3dfbc4a29a05",
      "name": "If2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.hosting3m.com/webhook/v2/genera-token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user",
              "value": "n8n@hosting3m.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3488,
        4352
      ],
      "id": "e5232db0-bbaf-42b1-9cf9-f4a422effa0a",
      "name": "Get Token"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.hosting3m.com/webhook/81949755-352f-4f0b-bdf3-aac2d1f4b369/crud/v2/news_articles",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            },
            {
              "name": "=x-jwt-claim-role",
              "value": "={{ $json.role }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operation\": \"getAll\",\n  \"fields\": {\n    \"published_at\": {\n      \"_gte\": \"{{ $now.startOf('day').toISO() }}\",\n      \"_lte\": \"{{ $now.endOf('day').toISO() }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3264,
        4352
      ],
      "id": "c304a2ab-6d0d-4b79-9aa0-3334a3072ab1",
      "name": "Check Publish"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "41424244-43fd-46ba-b215-ed8ad4e51ac6",
              "leftValue": "={{ $json.meta.foundRecords }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3040,
        4352
      ],
      "id": "0ca0b810-5609-4a56-9121-26d637b14d7c",
      "name": "Not Exist Pub"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1248,
        4464
      ],
      "id": "c0538b51-ee64-45ae-8fe2-5c6dfb7ce0c2",
      "name": "Respond Exists"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.hosting3m.com/webhook/81949755-352f-4f0b-bdf3-aac2d1f4b369/crud/v2/news_articles",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Token').first().json.token }}"
            },
            {
              "name": "x-jwt-claim-role",
              "value": "={{ $('Get Token').first().json.role }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  {\n    \"operation\": \"insert\",\n    \"fields\": {\n      \"url\": $('Get Articles').item.json.data[0].url,\n      \"title\": $('Get Articles').item.json.data[0].title,\n      \"source\": \"https://hosting3m.com/#news\",\n      \"image\": $('SetX').item.json.image,\n      \"published_at\": new Date().toISOString()\n    }\n  } \n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -576,
        3968
      ],
      "id": "6ac8937f-b564-4e6f-8048-273000514335",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos el texto desde el nodo 'SetX' independientemente de dónde venga el flujo\nconst text = $('SetX').item.json.tweet_text;\n\nlet finalTweet = text;\n\n// Si el texto es muy largo, lo recortamos para X (Twitter)\nif (text && text.length > 270) {\n  finalTweet = text.substring(0, 150) + \"... Ver más en: https://hosting3m.com/#news\";\n}\n\n// Pasamos también el media_id que viene del nodo anterior para no perderlo\nreturn { \n  tweet_text_fixed: finalTweet,\n  media_id: $json.media_id_string \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        3888
      ],
      "id": "84f73f4e-b84a-4113-b6bd-7c6248a37730",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.hosting3m.com/webhook/81949755-352f-4f0b-bdf3-aac2d1f4b369/crud/v2/news_articles",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Get Token\"].json.token}}"
            },
            {
              "name": "x-jwt-claim-role",
              "value": "={{$node[\"Get Token\"].json.role}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operation\": \"getall\",\n  \"fields\": {\n    \"published_at\": null \n  },\n  \"limit\": 1\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2816,
        4272
      ],
      "id": "2ed066f9-1248-4139-9b9d-e2473c3b533a",
      "name": "Get Articles",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Get Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetX": {
      "main": [
        [
          {
            "node": "DownloadImage",
            "type": "main",
            "index": 0
          },
          {
            "node": "HandleImageError",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "CreateTweet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DownloadImage": {
      "main": [
        [
          {
            "node": "HandleImageError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SaveImage": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UploadImageX": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetPageTokens": {
      "main": [
        [
          {
            "node": "ExtractPageToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExtractPageToken": {
      "main": [
        [
          {
            "node": "PostToFacebookPage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostToFacebookPage": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Company": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Personal": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HandleImageError": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "SaveImage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "GetPageTokens",
            "type": "main",
            "index": 0
          },
          {
            "node": "UploadImageX",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post Company",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post Personal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token": {
      "main": [
        [
          {
            "node": "Check Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Publish": {
      "main": [
        [
          {
            "node": "Not Exist Pub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Exist Pub": {
      "main": [
        [
          {
            "node": "Get Articles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "CreateTweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Articles": {
      "main": [
        [
          {
            "node": "SetX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "9SrVXdATmlrZemJT",
    "timeSavedMode": "fixed",
    "timeSavedPerExecution": 30
  },
  "versionId": "1a1ced5e-7c27-4177-aaaf-4dbc904d8913",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75957d34f9f0189415b8c82ca3ce42d8f0b464efd869382da2158435b39f044d"
  },
  "id": "PcfAnum7D3OTAzod",
  "tags": [
    {
      "updatedAt": "2025-12-20T19:25:08.685Z",
      "createdAt": "2025-12-20T19:25:08.685Z",
      "id": "ljhw24TcxNVpCPyc",
      "name": "Webhook"
    },
    {
      "updatedAt": "2025-12-20T20:03:46.545Z",
      "createdAt": "2025-12-20T20:03:46.545Z",
      "id": "jafWIhyZ3XGpyA6j",
      "name": "Postgres"
    },
    {
      "updatedAt": "2025-12-20T20:05:16.332Z",
      "createdAt": "2025-12-20T20:05:16.332Z",
      "id": "GQLpF2Inwhd2fJzm",
      "name": "Cron"
    },
    {
      "updatedAt": "2025-12-20T20:05:36.237Z",
      "createdAt": "2025-12-20T20:05:36.237Z",
      "id": "P8B6SG9wkqyC8I5T",
      "name": "Redes Sociales"
    }
  ]
}