workflows/04-omnichannel-social/v2/v2-omnichanel.json
{
  "name": "v2/OmniChannel",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 6
            },
            {}
          ]
        }
      },
      "id": "097c307c-1c8d-408f-b711-27bf769a6f0a",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -2448,
        3520
      ]
    },
    {
      "parameters": {
        "path": "v2/NewsScraper",
        "authentication": "jwtAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a66e01e1-4504-4328-916a-ce410e4d24e3",
      "name": "Webhook Noticias",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "webhookId": "noticias-ti",
      "position": [
        -2448,
        3328
      ],
      "credentials": {
        "jwtAuth": {
          "id": "unyfRz9QRT72Vkwf",
          "name": "JWT Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67de7425-fb84-4c31-91fc-954061dc076d",
              "name": "tweet_text",
              "value": "={{ `💡 \"${$('Limit').item.json.title}\". Echa un vistazo al análisis completo de ${$('Limit').item.json.source}. #TechNews #IA #FuturoDigital #Tecnología #Innovación #Hosting3M ➡️ ${$('Limit').item.json.url.href}` }}\n",
              "type": "string"
            },
            {
              "id": "983175be-ce4b-4fbc-ad7d-bc2e7524096a",
              "name": "fb_post_text",
              "value": "={{ `💡 \"${$('Limit').item.json.title}\", proveniente de ${$('Limit').item.json.source}. ¿Qué opinas de este avance? ¡Comenta abajo! ⬇️ Lee más: ${$('Limit').item.json.url.href}. #TechNews #IA #FuturoDigital #Tecnología #Innovación #Hosting3M` }}",
              "type": "string"
            },
            {
              "id": "a9bee46a-2427-438a-a8df-3e6ba0b16ab5",
              "name": "li_post_text",
              "value": "={{ `💡 \"${$('Limit').item.json.title}\". Fuente: ${$('Limit').item.json.source} ➡️ ${$('Limit').item.json.url.href}. #TechNews #IA #FuturoDigital #Tecnología #Innovación #Hosting3M` }}",
              "type": "string"
            },
            {
              "id": "e7d15066-4754-4e2e-8de3-0fa4b5e5d9cc",
              "name": "image",
              "value": "={{ \n  (() => {\n    // 1. Obtenemos el título de la noticia desde el nodo anterior (Limit)\n    const title = $('Limit').item.json.title;\n    \n    // 2. Definimos un prompt base para asegurar el estilo \"Tech News\"\n    // \"Futuristic technology concept art about [Titulo], high quality, 4k, trending on artstation\"\n    const prompt = `Futuristic technology concept, editorial illustration about: ${title}, high detail, 8k, professional lighting`;\n  \n    // 3. Codificamos el prompt para URL\n    const encodedPrompt = encodeURIComponent(prompt);\n  \n    // 4. Retornamos la URL de Pollinations\n    // width=1000, height=800 (Coincide con tu nodo DownloadImage), model=flux, seed=random\n    const randomSeed = Math.floor(Math.random() * 1000);\n    return `https://image.pollinations.ai/prompt/${encodedPrompt}?width=1000&height=800&model=flux&nologo=true&seed=${randomSeed}`;\n  })() \n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        3296
      ],
      "id": "f2a96813-c443-4f61-9228-289cc488d9d2",
      "name": "SetX"
    },
    {
      "parameters": {
        "text": "={{ $json.tweet_text_fixed }}",
        "additionalFields": {
          "attachments": "={{ $json.media_id }}"
        }
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        1808,
        3200
      ],
      "id": "872c70de-924b-4157-ad1d-e412212d703b",
      "name": "CreateTweet",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "wodh3s73zOu8505y",
          "name": "X account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.image }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "redirect": {
            "redirect": {
              "maxRedirects": 10
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        3232
      ],
      "id": "d9fdf145-a809-48c8-9df0-15a6f5ac573a",
      "name": "DownloadImage",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Nodo SaveImage - Código corregido\nconst binaryData = items[0].binary;\nconst jsonData = items[0].json;\n\nif (binaryData && (binaryData.data || binaryData.media)) {\n  return [{\n    json: { ...jsonData, image_status: \"SUCCESS\" },\n    binary: {\n      media: binaryData.data || binaryData.media\n    }\n  }];\n} else {\n  return [{\n    json: { ...jsonData, image_status: \"FAILED\" },\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        3296
      ],
      "id": "d94f289a-2865-480e-9644-1e5a2becde85",
      "name": "SaveImage"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upload.twitter.com/1.1/media/upload.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth1Api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "media",
              "inputDataFieldName": "media"
            },
            {
              "name": "media_category",
              "value": "tweet_image"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1360,
        3200
      ],
      "id": "465fc40d-e76f-44a5-9e22-16c6eb5f87a2",
      "name": "UploadImageX",
      "credentials": {
        "oAuth1Api": {
          "id": "P5Kmo1oGuqM9bVsr",
          "name": "X API 1"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "graphApiVersion": "v20.0",
        "node": "me",
        "edge": "accounts",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "fields",
                "value": "name,id,access_token"
              }
            ]
          }
        }
      },
      "id": "6379cf6d-cf5e-47cb-ac2d-8edda506b1ab",
      "name": "GetPageTokens",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1360,
        3008
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "tOR29lFnpSlRMKLF",
          "name": "Facebook Graph Posts"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// --- CONFIGURACIÓN ---\nconst targetPageId = '103483927910104'; // Tu ID objetivo\n// ---------------------\n\n// 1. Detectar dónde están las páginas (Manejo de estructura variable)\nlet allPages = [];\n\nif (items.length > 0 && items[0].json.id && items[0].json.name) {\n    // CASO A: n8n ya desempaquetó la lista. Cada 'item' es una página.\n    allPages = items.map(i => i.json);\n} else if (items.length > 0 && items[0].json.data && Array.isArray(items[0].json.data)) {\n    // CASO B: Estructura cruda anidada en 'data'.\n    allPages = items[0].json.data;\n} else {\n    // CASO C: No se encontraron datos reconocibles\n    return [{\n        json: {\n            error: \"No se recibieron páginas de Facebook. Revisa el nodo anterior.\",\n            input_received: items[0]?.json\n        }\n    }];\n}\n\n// 2. Buscar tu página específica\nconst targetPage = allPages.find(p => p.id === targetPageId);\n\n// 3. Obtener el contenido del post (del nodo SetX)\n// Nota: Usamos $('SetX').first().json para ir a lo seguro\nlet postContent = {};\ntry {\n    postContent = $('SetX').first().json;\n} catch (e) {\n    postContent = { fb_post_text: \"Texto de prueba\", image: \"https://via.placeholder.com/150\" };\n}\n\n// 4. RESULTADO\nif (targetPage) {\n    // ¡ÉXITO! Encontramos el token\n    return [{\n        json: {\n            status: \"READY_TO_POST\",\n            page_token: targetPage.access_token,\n            page_id: targetPage.id,\n            page_name: targetPage.name,\n            message: postContent.fb_post_text,\n            link: postContent.image\n        }\n    }];\n} else {\n    // ERROR DE COINCIDENCIA (Diagnóstico)\n    // Devolvemos la lista de lo que SÍ encontró para que veas los IDs\n    return [{\n        json: {\n            status: \"ID_MISMATCH\",\n            error_message: `El ID ${targetPageId} no está en la lista de páginas disponibles.`,\n            found_pages: allPages.map(p => ({ name: p.name, id: p.id }))\n        }\n    }];\n}"
      },
      "id": "64483aed-756b-4986-bf00-06e1b704631b",
      "name": "ExtractPageToken",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        3008
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $json.page_id }}/feed",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "link",
              "value": "={{ $json.link }}"
            },
            {
              "name": "access_token",
              "value": "={{ $json.page_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f57a5652-603d-410f-b88b-a44e088a97e3",
      "name": "PostToFacebookPage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1808,
        3008
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "communityManagement",
        "postAs": "organization",
        "organization": "=90332415",
        "text": "={{ $('SetX').item.json.li_post_text }}",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "media",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1808,
        3392
      ],
      "id": "e7f1e226-6bbd-42ab-9d44-e02fffa77b7d",
      "name": "Post Company",
      "credentials": {
        "linkedInCommunityManagementOAuth2Api": {
          "id": "KQqFc6dzSde2tb0X",
          "name": "LinkedIn Credential"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "communityManagement",
        "person": "0KuLF6TNs9",
        "text": "={{ $('SetX').item.json.li_post_text }}",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "media",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1808,
        3584
      ],
      "id": "01ad5f39-d608-4375-8acf-5f0a811e9387",
      "name": "Post Personal",
      "credentials": {
        "linkedInCommunityManagementOAuth2Api": {
          "id": "KQqFc6dzSde2tb0X",
          "name": "LinkedIn Credential"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        464,
        3296
      ],
      "id": "489d6fdb-5d56-4210-a87f-ff4b351469e3",
      "name": "HandleImageError"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b49b09f8-4a28-4bed-9ced-0c91f2d4649f",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        3296
      ],
      "id": "6fbd5b65-da63-4818-b9d4-12a378eb1e07",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0f0a040c-5235-4de7-aae4-a2acc5f58e80",
              "leftValue": "={{ $json.image_status }}",
              "rightValue": "SUCCESS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1136,
        3296
      ],
      "id": "3428cb11-490c-49ec-b6df-fa19acc16c62",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "articles",
              "cssSelector": "article.news-card",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -1328,
        3344
      ],
      "id": "cf194b17-e361-4fc9-a844-f6e7e9bbf825",
      "name": "Extract_HTML"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "articles",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": ".news-title",
              "skipSelectors": ".article.news-card"
            },
            {
              "key": "description",
              "cssSelector": ".news-body",
              "skipSelectors": ".article.news-card"
            },
            {
              "key": "image",
              "cssSelector": "img.news-img",
              "returnValue": "attribute"
            },
            {
              "key": "url",
              "cssSelector": "=a",
              "returnValue": "attribute"
            },
            {
              "key": "source"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -1104,
        3344
      ],
      "id": "90373384-bc05-48c4-b38c-ca3dde4e70ac",
      "name": "Set_HTML"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a00bb3b9-4596-4e92-b161-553aec63471f",
              "name": "source",
              "value": "https://hosting3m.com/#news",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -880,
        3344
      ],
      "id": "8f4d5507-4a9f-4c9a-8451-71c81cee95fc",
      "name": "Add Static Source"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.hosting3m.com/webhook/81949755-352f-4f0b-bdf3-aac2d1f4b369/crud/v2/news_articles",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Token').first().json.token }}"
            },
            {
              "name": "x-jwt-claim-role",
              "value": "={{ $('Get Token').first().json.role}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"operation\": \"getOne\",\n    \"fields\":\n    {\n        \"url\": \"{{ $json.url.href }}\"\n    }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -432,
        3344
      ],
      "id": "fb9c1288-76f8-469c-bba7-59c7ba445cfa",
      "name": "Check Article Exists",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.hosting3m.com/webhook/v2/genera-token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user",
              "value": "n8n@hosting3m.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2224,
        3424
      ],
      "id": "6111ff98-e0cf-4ec0-a285-35308263180b",
      "name": "Get Token"
    },
    {
      "parameters": {
        "url": "https://n8n.hosting3m.com/webhook/news",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Get Token\"].json.token}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1552,
        3344
      ],
      "id": "e439691e-6b65-40dc-b693-dd788cfe610a",
      "name": "Get News"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.hosting3m.com/webhook/81949755-352f-4f0b-bdf3-aac2d1f4b369/crud/v2/news_articles",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            },
            {
              "name": "=x-jwt-claim-role",
              "value": "={{ $json.role }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operation\": \"getAll\",\n  \"fields\": {\n    \"published_at\": {\n      \"_gte\": \"{{ $now.startOf('day').toISO() }}\",\n      \"_lte\": \"{{ $now.endOf('day').toISO() }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2000,
        3424
      ],
      "id": "546a3708-fc15-4ded-b256-6fa8e9b662d0",
      "name": "Check Publish"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "41424244-43fd-46ba-b215-ed8ad4e51ac6",
              "leftValue": "={{ $json.meta.foundRecords }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1776,
        3424
      ],
      "id": "ebee8e36-18f6-4f0c-bdb1-66ab255a0a10",
      "name": "Not Exist Pub"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1824,
        3936
      ],
      "id": "bb1f3d14-3188-4553-9e8d-ac8818047f9d",
      "name": "Respond Exists"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "efa4ae0c-3999-4e2c-92be-52d1faf5c265",
              "leftValue": "={{ $json.data?.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        3344
      ],
      "id": "062350d0-92e9-4ca3-8b8e-a4b5d2b8a340",
      "name": "Not exist"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.hosting3m.com/webhook/81949755-352f-4f0b-bdf3-aac2d1f4b369/crud/v2/news_articles",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Token').first().json.token }}"
            },
            {
              "name": "x-jwt-claim-role",
              "value": "={{ $('Get Token').first().json.role }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  {\n    \"operation\": \"insert\",\n    \"fields\": {\n      \"url\": $('Limit').item.json.url.href,\n      \"title\": $('Limit').item.json.title,\n      \"source\": $('Limit').item.json.source,\n      \"image\": $('SetX').item.json.image,\n      \"published_at\": new Date().toISOString()\n    }\n  } \n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2096,
        3200
      ],
      "id": "06465149-0673-4bf7-9a14-44bad641b326",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2320,
        3200
      ],
      "id": "febd7de2-5281-4c54-9638-e51ef7f80172",
      "name": "Respond to End"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -656,
        3344
      ],
      "id": "f8d38d1c-0303-439c-abe7-fb814ff31498",
      "name": "Limit"
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos el texto desde el nodo 'SetX' independientemente de dónde venga el flujo\nconst text = $('SetX').item.json.tweet_text;\n\nlet finalTweet = text;\n\n// Si el texto es muy largo, lo recortamos para X (Twitter)\nif (text && text.length > 270) {\n  finalTweet = text.substring(0, 150) + \"... Ver más en: https://hosting3m.com/#news\";\n}\n\n// Pasamos también el media_id que viene del nodo anterior para no perderlo\nreturn { \n  tweet_text_fixed: finalTweet,\n  media_id: $json.media_id_string \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        3200
      ],
      "id": "88131746-e9db-464c-800f-24f0e27ee7f9",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {
    "Cron": [
      {
        "json": {}
      }
    ]
  },
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Get Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Noticias": {
      "main": [
        [
          {
            "node": "Get Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetX": {
      "main": [
        [
          {
            "node": "DownloadImage",
            "type": "main",
            "index": 0
          },
          {
            "node": "HandleImageError",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "CreateTweet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DownloadImage": {
      "main": [
        [
          {
            "node": "HandleImageError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SaveImage": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UploadImageX": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetPageTokens": {
      "main": [
        [
          {
            "node": "ExtractPageToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExtractPageToken": {
      "main": [
        [
          {
            "node": "PostToFacebookPage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostToFacebookPage": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Company": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Personal": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HandleImageError": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "SaveImage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "GetPageTokens",
            "type": "main",
            "index": 0
          },
          {
            "node": "UploadImageX",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post Company",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post Personal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract_HTML": {
      "main": [
        [
          {
            "node": "Set_HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_HTML": {
      "main": [
        [
          {
            "node": "Add Static Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Static Source": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Article Exists": {
      "main": [
        [
          {
            "node": "Not exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token": {
      "main": [
        [
          {
            "node": "Check Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get News": {
      "main": [
        [
          {
            "node": "Extract_HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Publish": {
      "main": [
        [
          {
            "node": "Not Exist Pub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Exist Pub": {
      "main": [
        [
          {
            "node": "Get News",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not exist": {
      "main": [
        [
          {
            "node": "SetX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Check Article Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "CreateTweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "9SrVXdATmlrZemJT",
    "timeSavedMode": "fixed",
    "timeSavedPerExecution": 30
  },
  "versionId": "75a7e6a2-d65a-495d-9b9b-5bea1746a084",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ebfe6551ca260f617d68572b7a0eb6825fe3993d0da19ebfb0e274f2e0ccb37"
  },
  "id": "PcfAnum7D3OTAzod",
  "tags": [
    {
      "updatedAt": "2025-12-20T19:25:08.685Z",
      "createdAt": "2025-12-20T19:25:08.685Z",
      "id": "ljhw24TcxNVpCPyc",
      "name": "Webhook"
    },
    {
      "updatedAt": "2025-12-20T20:03:46.545Z",
      "createdAt": "2025-12-20T20:03:46.545Z",
      "id": "jafWIhyZ3XGpyA6j",
      "name": "Postgres"
    },
    {
      "updatedAt": "2025-12-20T20:05:16.332Z",
      "createdAt": "2025-12-20T20:05:16.332Z",
      "id": "GQLpF2Inwhd2fJzm",
      "name": "Cron"
    },
    {
      "updatedAt": "2025-12-20T20:05:36.237Z",
      "createdAt": "2025-12-20T20:05:36.237Z",
      "id": "P8B6SG9wkqyC8I5T",
      "name": "Redes Sociales"
    }
  ]
}