workflows/01-auth-jwt-gateway/v2/v2-auth.json
{
  "name": "v2/GeneraToken",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n {\n  \"token\": $json.token,\n  \"role\": $node[\"Get Role\"].json.role\n }\n}}",
        "options": {
          "responseCode": "={{ $json.status || 200 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        672,
        0
      ],
      "id": "7cc206e3-bd94-47c0-85bd-c7eb3cffe8ba",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "v2/genera-token",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "15344c7b-1038-4e90-86d1-3c449392726c",
      "name": "Genera Token",
      "webhookId": "275a4bc0-7184-422a-8fad-725817e2741f"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://jwt-service:4000/generate-token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Content-Type",
              "value": "=application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=user",
              "value": "={{ $node[\"Genera Token\"].json.body.user }}"
            },
            {
              "name": "role",
              "value": "={{ $json.role }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        0
      ],
      "id": "76a7294a-9af1-4807-80fa-23693696a07f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $json.body.user }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        0
      ],
      "id": "6fc72ce7-51e7-4464-a554-998224688bbb",
      "name": "Get Role",
      "credentials": {
        "postgres": {
          "id": "BQrod4uGVzM1nvLw",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Genera Token": {
      "main": [
        [
          {
            "node": "Get Role",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Role": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "9SrVXdATmlrZemJT"
  },
  "versionId": "332cd36c-d1f9-48d3-9d95-de3fceec405f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ebfe6551ca260f617d68572b7a0eb6825fe3993d0da19ebfb0e274f2e0ccb37"
  },
  "id": "JvAaNpnER0tIJPf3",
  "tags": [
    {
      "updatedAt": "2025-12-20T19:25:08.685Z",
      "createdAt": "2025-12-20T19:25:08.685Z",
      "id": "ljhw24TcxNVpCPyc",
      "name": "Webhook"
    },
    {
      "updatedAt": "2025-12-20T19:25:38.936Z",
      "createdAt": "2025-12-20T19:24:03.065Z",
      "id": "kej8yFK0WMHHioIl",
      "name": "Security"
    },
    {
      "updatedAt": "2025-12-20T19:25:45.288Z",
      "createdAt": "2025-12-20T19:25:45.288Z",
      "id": "TEcAAV8ImkhhzPtv",
      "name": "Token"
    },
    {
      "updatedAt": "2025-12-20T19:25:50.503Z",
      "createdAt": "2025-12-20T19:25:50.503Z",
      "id": "wJ0vNQ7idcCu9BGu",
      "name": "JWT"
    }
  ]
}