workflows/01-auth-jwt-gateway/v2/v2-auth.json
{
  "name": "v2/GeneraToken",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n {\n  \"token\": $json.token,\n  \"role\": $json.role\n }\n}}",
        "options": {
          "responseCode": "={{ $json.status || 200 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        448,
        0
      ],
      "id": "7cc206e3-bd94-47c0-85bd-c7eb3cffe8ba",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "v2/genera-token",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://hosting3m.com",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://hosting3m.com"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization, x-jwt-claim-role"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "15344c7b-1038-4e90-86d1-3c449392726c",
      "name": "Genera Token",
      "webhookId": "275a4bc0-7184-422a-8fad-725817e2741f"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://jwt-service:4000/generate-token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Content-Type",
              "value": "=application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=user",
              "value": "={{ $node[\"Genera Token\"].json.body.user || \"n8n@hosting3m.com\" }}"
            },
            {
              "name": "internal_secret",
              "value": "={{$env[\"INTERNAL_SECRET\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ],
      "id": "76a7294a-9af1-4807-80fa-23693696a07f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "content": "## Propósito: Orquestador de autenticación v2.\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)\n\n**Entrada**: JSON con user.\n**Dependencia**: Servicio interno jwt-service:4000. Seguridad: Utiliza la variable de entorno INTERNAL_SECRET.",
        "width": 544
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -176
      ],
      "typeVersion": 1,
      "id": "3af3a97b-7faa-4136-8fe1-eaed022cb809",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Genera Token": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "9SrVXdATmlrZemJT",
    "timeSavedPerExecution": 0
  },
  "versionId": "2d0eab15-baaa-4f4b-8493-6a9eeb5c2015",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75957d34f9f0189415b8c82ca3ce42d8f0b464efd869382da2158435b39f044d"
  },
  "id": "JvAaNpnER0tIJPf3",
  "tags": [
    {
      "updatedAt": "2026-01-06T22:03:50.582Z",
      "createdAt": "2026-01-06T22:03:50.582Z",
      "id": "aPjoIbXEEiVHHnmx",
      "name": "Auth"
    },
    {
      "updatedAt": "2026-01-06T22:03:54.891Z",
      "createdAt": "2026-01-06T22:03:54.891Z",
      "id": "xW8oai2TUsoc8WTz",
      "name": "Microservicio"
    },
    {
      "updatedAt": "2026-01-06T22:03:57.984Z",
      "createdAt": "2026-01-06T22:03:57.984Z",
      "id": "Z57mQ3C8keMOgZHW",
      "name": "v2"
    },
    {
      "updatedAt": "2026-01-06T22:04:01.156Z",
      "createdAt": "2026-01-06T22:04:01.156Z",
      "id": "QEpTSF53s2mPoGeW",
      "name": "Produccion"
    }
  ]
}