workflows/00-global-error-handler/Global Error Handler.json
{
  "name": "Global Error Handler",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        64
      ],
      "id": "f3541b51-6cfd-42c3-9960-aba2825cb16b",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "workflow_name",
              "value": "={{ $json.workflow.name }}"
            },
            {
              "name": "execution_id",
              "value": "={{ $json.execution.id }}"
            },
            {
              "name": "failed_node",
              "value": "={{ $json.execution.lastNodeExecuted }}"
            },
            {
              "name": "error_message",
              "value": "={{ $json.execution.error.message }}"
            },
            {
              "name": "error_stack",
              "value": "={{ $json.execution.error.stack }}"
            },
            {
              "name": "execution_url",
              "value": "={{ $json.execution.url }}"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -176,
        64
      ],
      "id": "f6282dba-45c0-4f32-ad81-314ed2cee92e",
      "name": "Formatear Datos"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/alertas_n8n_hosting3m",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "topic",
              "value": "n8n_error"
            },
            {
              "name": "message",
              "value": "=Falló: {{ $json.workflow_name }} \nNodo: {{ $json.failed_node }}\nError: {{ $json.error_message }}\nLink: {{ $json.execution_url }}\n"
            },
            {
              "name": "priority",
              "value": "high"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        48,
        160
      ],
      "id": "f142fdff-0dbc-43b2-a3a8-6b5f674a44d2",
      "name": "Alerta (Webhook/HTTP)"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_error_logs",
          "mode": "list",
          "cachedResultName": "n8n_error_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": 0,
            "workflow_name": "={{ $json.workflow_name }}",
            "execution_id": "={{ $json.execution_id }}",
            "failed_node": "={{ $json.failed_node }}",
            "error_message": "={{ $json.error_message }}",
            "created_at": "={{ $json.timestamp }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "workflow_name",
              "displayName": "workflow_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "failed_node",
              "displayName": "failed_node",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        48,
        -32
      ],
      "id": "6c97ed4e-b484-44da-bd62-0781bddb2cb2",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "BQrod4uGVzM1nvLw",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Formatear Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Datos": {
      "main": [
        [
          {
            "node": "Alerta (Webhook/HTTP)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cc523b6e-761c-4ac4-aea6-5e533dc7a8b8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75957d34f9f0189415b8c82ca3ce42d8f0b464efd869382da2158435b39f044d"
  },
  "id": "9SrVXdATmlrZemJT",
  "tags": []
}